account_id          = "<CLOUDFLARE_ACCOUNT_ID>"
zone_id             = "<CLOUDFLARE_ZONE_ID>"
application_domain  = "rdp.example.com"
virtual_network_id  = "<CLOUDFLARE_VIRTUAL_NETWORK_ID>"
existing_entra_idp_id = "<CLOUDFLARE_ENTRA_IDP_ID>"
entra_allowed_emails  = ["admin@example.com"]
